<div style="width: 452px; height: 396px; background-color: #3E3E3E; padding: 22px; display: flex; flex-direction: column; justify-content: space-between;">
 
  <form>
    <div style="margin-bottom: 16px; flex-grow: 1;">
      <label style="color: #FFFFFF; font-size: 22px; font-weight: bold; text-transform: uppercase; letter-spacing: 1px;">VIN*</label>
      <i style="font-size: 14px; color: #FFFFFF; margin-left: 4px; cursor: pointer;" title="Your VIN (17 characters) can be located in two places on your vehicle. The first is in the driver's side doorjamb, and second is under the windshield, in the bottom right corner. You can also find the VIN on your registration and insurance.">&#9432;</i>
      <br>
      <input type="text" placeholder="17-digit VIN" style="width: 100%; height: 100%; background-color: #F9F9F9; border: none; border-radius: 4px; padding: 8px; margin-top: 8px;">
    </div>
    <div style="margin-bottom: 22px; flex-grow: 1;">
      <label style="color: #FFFFFF; font-size: 22px; font-weight: bold;letter-spacing: 1px;">Trim*</label>
      <i style="font-size: 22px; color: #FFFFFF; margin-left: 4px; cursor: pointer;" title="A trim level is a version of a vehicle model that is equipped with a distinct set of features. It can be found in the owner's manual and rear or side of the vehicle.">&#9432;</i>
      <br>
      <select style="width: 100%; height: 100%; background-color: #F9F9F9; border: none; border-radius: 4px; padding: 8px; margin-top: 8px;">
        <option value="" selected disabled>Select Trim</option>
        <option value="trim1">Trim 1</option>
        <option value="trim2">Trim 2</option>
        <option value="trim3">Trim 3</option>
      </select>
    </div>
    <div style="flex-grow: 1;">
    <button type="submit" style="background-color: #008CBA; color: #FFFFFF; font-size: 22px; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; border: none; border-radius: 12px; padding: 12px 48px; cursor: pointer; width: 100%;">Get Your Offer Now</button>
    </div>
  </form>
</div>
